*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aqua;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 8vmin;
    background-color: blanchedalmond;
}
.reset{
    height: 40px;
    width: 150px;
    border-radius: 1rem;
    font-size: larger;
    color: white;
    background-color: black;
}

#new-btn{
    height: 40px;
    width: 150px;
    border-radius: 1rem;
    font-size: larger;
    color: white;
    background-color: black;
}

#msg{
    font-size: 8vmin;
    color:green;
}
.msg-container{
    height: 16vmin;
    margin-bottom: 5px;
}

.hide{
    display: none;
}

